<div class="cyberspace-panel">
  <div class="card-header">
    <div>
      <h1 class="card-title">Add Spectroscopy: <%= @galaxy.name %></h1>
    </div>
  </div>
  <div class="cyberspace-panel-body">
    <%= render "form", submit_label: "Create Spectroscopy" %>
  </div>
</div>

<div class="action-links">
  <%= link_to "Back to Galaxy", galaxy_path(@galaxy) %>
  <%= link_to "Back to Galaxies", galaxies_path %>
</div>
