<div class="cyberspace-panel">
  <div class="card-header">
    <div>
      <h1 class="card-title">New Galaxy</h1>
    </div>
  </div>
  <div class="cyberspace-panel-body">
    <%= render "form", galaxy: @galaxy %>
  </div>
</div>

<div class="action-links">
  <%= link_to "Back to Galaxies", galaxies_path %>
</div>
